<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>У Марты мягкие лапки</h1>
<h1>А в мягких лапках у Марты царапки</h1>
<form method="post">
{% csrf_token %}
<button type="submit">Марта клевая</button>
</form>
<p>{{ likes }} раз сказали, что Марта клевая</p>
<img src="https://sun9-west.userapi.com/sun9-11/s/v1/ig2/WFB3Q4FqKUreCHvAfGroov1cVXwn_DQ5Yc6vR5s8YjkniczJhWgkDia5-2QDG7ebsUNDZBQN5DPnhrUEwbvPPBGU.jpg?size=960x1280&quality=96&type=album">
</body>
</html>